*{margin: 0; padding: 0;}
body{background: white;}
#header{width: 100%; height: 110px;background: whitesmoke;}
#logo{height: 5%; width: 5px%; float: left; margin-top: 1%}
#logo img{width: 120px; height: 90px; margin-left: 40%;-webkit-animation: logo alternate infinite 3s; animation: logo alternate infinite 3s;}
#logo img:hover {-webkit-transition:all 0.3s; transition: all 0.3s; margin-left: 15px; margin-right: 15px; padding: center; padding-left: 15px;padding-right: 5px;}
@-webkit-keyframes logo{
    0%{-webkit-transform:rotate(0deg);rotate(0deg)}
    50%{-webkit-transform:rotate(-8deg);rotate(-deg)}
}
@keyframes logo{
    0%{-webkit-transform:rotate(0deg);rotate(0deg)}
    50%{-webkit-transform:rotate(-8deg);rotate(-deg)}
}

#link{float: right; width: 55%; margin-top: -8%;}
#link ul{list-style-type: none;}
#link ul li{float: right; margin-right: 15px; padding: 1%;}
#link_active a{text-decoration: none;color: #000;font-size: 12px; font-family: "KacstNaskhMedium";}
#link_active{text-align: center;width: 55px;}
#link_active:hover{background: #D41A7A;}
#link_active a:hover{color: white;}
#search{float: right; margin-top: -5%;}
#search input[type=text]{min-height:41px; width: 500px; outline: none; border-color: none; font-size: 15px; padding-left: 3%; border-bottom-right-radius: 2px; border-top-right-radius: 2px;font-family: "XBTabrizRegular";border-style: none;}
#search_btn{background: #00ADEF; min-height:41px; width: 80px;border-top-right-radius: 2px;font-family: "XBTabrizRegular";
 margin-left: -1%; border-bottom-style: none;}
#cart_btn{background: #00ADEF; min-height:41px; width: 80px; border-top-right-radius: 2px;font-family: "XBTabrizRegular";
   border-bottom-style: none;}
#cart_btn:hover{background: #DE2210; -webkit-transtitionon:all .5s;color: white;}
#navbar{float: left; width: 100%;background:  #151B54; height: 55px;}
#navbar ul{ list-style-type: none;margin-right: 14%;}
#navbar ul li{height: 40px; float: right;width: 15%;text-align: center; line-height: 40px;}
#navbar ul li a{text-decoration: none; color: #79BAEC; font-size: 20px; display: block;font-family: "XBTabrizRegular"}
#navbar ul li:hover{background: white; border-top: 3px solid #79BAEC;-webkit-transition:all .1s;}
#navbar ul li:hover a{ color: black;}
#navbar li ul{display: none;}
#navbar li:hover ul{background: white; display: block !important; z-index: 999; width: 220px; position: absolute; margin-right: 0px;}
#navbar li ul li{float: none; width: 100%; height: 55px; margin-bottom: 1%; background: #151B54; box-shadow: 5px 5px 5px #2e2e2e;}
#navbar li:hover ul a{color: #82CAFF}
#navbar ul li a:hover{color: black;}
/*-----------------------------BODYLEFT--------------------------------*/
#bodyleft{margin-top: 10px; float: left; width: 98%; padding: 1%; background: #FFF;}
#slider{margin-left: 35%;}
#bodyleft h2{ text-shadow: 5px 1px 5px #000; background: #151B54; height: 70px; color: white; text-align: center;line-height: 70px; border-radius: 3px; font-family: "XBTabrizRegular"; font-size: 35;}
#bodyleft ul{ list-style-type: none; margin-top: 10px;}
#bodyleft img{ width: 100%; height:400px;}
#bodyleft ul li{ margin-left: 0.5%; padding: 1%; border: 2px solid #fff; float: left;width: 17%; height: 320px;}
#bodyleft ul li a{text-align: center; font-size: 20px; text-decoration: none; color: black;}
#bodyleft ul li a img{width: 100%; height: 140px;}
#bodyleft ul li a h4{margin-top: 1px; font-family:"XBTabrizRegular"}
#bodyleft h3{ text-shadow: 5px 5px 5px #000; background: #98AFC7; height: 40px; color: red; line-height: 30px; border-radius: 3px; font-family: "XBTabrizRegular"; padding-right: 5%;}
#bodyleft ul li:hover{border-radius: 3px; border: 2px solid #00ADEF}
#pro_btn{color: black; width: 20%; height: 30px; background: white; border-width: 0px; border: 1px solid black; border-radius: 3px;}

#pro_btn:hover{color: white; background: #00ADEF;}
/*--------------------------------------------DETAILS-----------------------------------*/
#details{float: none; background: none;}
#details h3{margin: 0.5%; padding: 2%; background:  #151B54; text-align: center; float: right; width: 30%; text-decoration-color: black; color: white; font-size: 30px;}
#slider1{width: 50%; height 50%; margin-left: 25%;}

